
    <header>
        <div id="menu-hamb">
            <div id="barnav-hamb">
                <div id="bout-hamb">
                    <i class="fas fa-bars"></i>
                </div>
                <div id="logo-hamb">
                    <img href='#' src="{{ asset('images/logo.png') }}" class="logo-header" >
                </div>
            </div>
            <nav id="nav-hamb">
                <a href="{{path('home')}}">ASKE</a>

                <a href="{{path('competitor')}}">Competitor</a>
                <a href="#eve">Evenement</a>
                <img src="{{ asset('images/logo.png') }}" class="logo-header" >

                <a href="#lieux">Les lieux</a>
                <a href="#Juges">Juges</a>
                <a href="#Photo">Photo</a>
            </nav>
        </div>

        <div class="container-header">
            <nav>
                <a href="{{path('home')}}">ASKE</a>

                <a href="{{path('competitor')}}">Competitor</a>
                <a href="#eve">Evenement</a>
                <img src="{{ asset('images/logo.png') }}" class="logo-header" >

                <a href="#lieux">Les lieux</a>
                <a href="#Juges">Juges</a>
                <a href="#Photo">Photo</a>

                <a href="{{ path('app_login') }}"></a>
                

            </nav>
        </div>
    </header>



