{% extends 'base.html.twig' %}

{% block title %}Ajouter Repas{% endblock %}

{% block body %}


    <div class="container">
        <h1></h1>
    </div>

    <div class="container w-50 text-center border pt-5">
        <h1>Ajouter les Repas</h1>
        {{ form_start(repas_form) }}
        {{ form_row(repas_form.nom,{label:'Nom' }) }}
        {{ form_row(repas_form.prenom,{label:'Prenom' }) }}
        {{ form_row(repas_form.participant,{label:'participant' }) }}
        {{ form_row(repas_form.menu,{label:'Menu' }) }}
        <button type="submit" class="btn btn-warning">Ajouter Repas</button>

    </div>
    <div class="container w-50 pt-5">

        <!--<p>
            <a class="btn btn-warning" href="{{ path('competitor') }}">
                Retour a competitor
            </a>

        </p>-->

    </div>


{% endblock %}
